<% movies.forEach((movie)=>{ %>
    <a href="/movie/<%= movie.id %>" class="movie-card">
        <div>
            <% if(movie.poster_path){ %>
                <div>
                    <img src="<%= baseImgURL %><%= movie.poster_path %>" alt="<%= movie.title %> Poster">
                </div>
            <% }else{ %>
                <img src="/img/placeholder-media.svg" alt="Poster Unavalable">
            <% } %>         
            <p><%= movie.title %></p>
            <p><%= movie.release_date.split("-")[0] %></p>
        </div>
    </a>
<% }) %>